.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5vw;
  height: 100vh;
}

.banner h1 {
  font-size: 3em;
  color: var(--white);
}

.subtitle {
  margin-top: 2px;
  font-size: 1.5em;
  color: var(--white);
}

.bannerText span {
  background-color: var(--primary-transparent);
}

@media only screen and (min-width: 768px) {
  .banner {
    padding: 0 10em;
  }

  .banner h1 {
    font-size: 5em;
  }

  .subtitle {
    font-size: 3em;
  }
}