nav {
  background-color: var(--grey);
  position: fixed;
  z-index: 1000;
  width: 100vw;
}

.navContainer {
  box-sizing: content-box ;
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  height: 2rem;
  align-items: stretch;
  padding: 0.5em 0;
  height: calc(2 * var(--font-size));
  width: 100%;
}

.navBrand {
  margin-top: 0;
  margin-bottom: 0;
  align-self: center;
}

.navBrand img {
  fill: var(--primary);
  height: calc(2 * var(--font-size));
}

.navItems {
  display: none;
  flex-direction: column;
  padding: 0;
  background-color: var(--grey);
  }

.navItem {
  padding: 0.5em 1em;
  text-decoration: none;
  color: var(--color);
  text-align: center;
}

.navItem:hover {
  color: var(--primary);
  border-bottom: solid 3px;
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 576px) {
  nav {
    padding: 0 1em;
  }

  .navBrand {
    margin-left: 0;
    margin-right: auto;
  }

  .navContainer {
    flex-direction: row;
    align-items: center;
  }

  .navItems {
    display: flex;
    flex-direction: row;
  }
}
