@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700&display=swap');
:root {
  --white: #fff;
  --primary: #e7b123;
  --grey: #333C3F;
  --light-grey: rgb(113, 118, 121);
  --primary-transparent: #e7b123dd;
  --font-size: 16px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: var(--white);
  background-color: var(--light-grey);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0 0 0.25em;
  color: var(--primary);
}

p {
  padding: 0;
  margin: 0 0 0.25em ;
}

a {
  color: var(--primary)
}

.container {
  padding: 1;
}

@media only screen and (min-width: 768px) {
  .container {
    margin: auto 20vw;
  }
}